@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-3 text-primary fw-bold">
         ¡Bienvenido a Event Hall Management!
    </h1>
    <p class="lead text-white mt-3">
        Administra tus eventos, participantes y solicitudes de soporte desde un solo lugar, con eficiencia y estilo.
    </p>
    <div class="mt-4">
        <a class="btn btn-lg btn-outline-primary" href="/Dashboard">
            Ir al Dashboard
        </a>
    </div>
</div>
